.btn:hover {
  color: blue;
}

input:required {
  background-color: red;
}

input:focus {
  background-color: yellow !important;
}

p::first-line {
  font-weight: bold;
}

/* Select input-ul de tip checkbox doar când este în starea :checked */
input[type="checkbox"]:checked {
  outline: 3px solid red; /* Folosesc outline pentru a crea bordura exterioara */
}
